<!-- create3.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Create Rent</title>
</head>
<body>
    <h1>Create Rent</h1>
    <link rel="stylesheet" href="../css/style.css">
    <form method="post" action="/create3">
            <label for="r_id">Room-ID:</label>
            <input type="number" id="r_id" name="r_id">
            <br>
            <label for="p_id">Person-ID:</label>
            <input type="number" id="p_id" name="p_id">
            <br>
            <input type="submit" value="create">
    </form>
    <a href="/renting">Back to List</a>
</body>
</html>