<!-- create3.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Create Rent</title>
</head>
<body>
    <h1>Create Rent</h1>
    <link rel="stylesheet" href="../css/stylegreen.css">
    <form method="post" action="/create3">
            <label for="r_name">Room-Name:</label>
            <input type="text" id="r_name" name="r_name">
            <br>
            <label for="p_name">Person-Name:</label>
            <input type="text" id="p_name" name="p_name">
            <br>
            <input type="submit" value="create">
    </form>
    <a href="/renting">Back to List</a>
</body>
</html>