<!-- home.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Home</h1>
    <link rel="stylesheet" href="../public/css/style.css">
    <a href="/rooms">View all rooms</a>
    <a href="/people">View all people</a>
    <a href="/renting">View all renting</a>
    <a href="/summary">View all summary</a>
</body>
</html>