<!-- person.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Person</title>
</head>
<body>
    <link rel="stylesheet" href="../public/css/style.css">
    <h1><%= person.name %></h1>
    <p>ID: <%= person.id %></p>
    <a href="/update2/<%= person.id %>">Edit</a>
    <a href="/delete2/<%= person.id %>">Delete</a>
    <a href="/people">Back to List</a>
</body>
</html>