<!-- rent.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Rent</title>
</head>
<body>
    <h1>Room-ID: <%= rent.r_id %></h1>
    <p>Person-ID: <%= rent.p_id %></p>
    <a href="/update3/<%= rent.id %>">Edit</a>
    <a href="/delete3/<%= rent.id %>">Delete</a>
    <a href="/renting">Back to List</a>
</body>
</html>