<!-- rent.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Rent</title>
</head>
<body>
    <link rel="stylesheet" href="../css/stylegreen.css">
    <h1>Room: <%= rent.r_name %></h1>
    <p>Person: <%= rent.p_name %></p>
    <a href="/update3/<%= rent.id %>">Edit</a>
    <a href="/delete3/<%= rent.id %>">Delete</a>
    <a href="/renting">Back to List</a>
</body>
</html>