<!-- room.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Room</title>
</head>
<body>
    <link rel="stylesheet" href="../css/styleorange.css">
    <h1><%= room.name %></h1>
    <p>ID: <%= room.id %></p>
    <a href="/update1/<%= room.id %>">Edit</a>
    <a href="/delete1/<%= room.id %>">Delete</a>
    <a href="/rooms">Back to List</a>
</body>
</html>