<!-- summary.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Summary</title>
</head>
<body>
    <link rel="stylesheet" href="../css/style.css">
    <h1>Summary</h1>
    <table>
        <tr>
            <td>Room</td>
            <td>Person</td>
        </tr>
        <% for(var i=0; i < summary.length; i++) { %>
            <tr>
                <td><%= summary[i].r_name %></td>
                <td><%= summary[i].p_name %></td>
            </tr>
        <% } %>
    </table>
    <a href="/">Home</a>
</body>
</html>
