<!-- update3.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Update Rent</title>
</head>
<body>
    <link rel="stylesheet" href="../css/stylegreen.css">
    <h1>Update Rent</h1>
    <form method="post" action="/update3/<%= rent.id %>">
            <label for="r_name">Room-ID:</label>
            <input type="text" id="r_name" name="r_name" value="<%= rent.r_name %>">
            <br>
            <label for="p_name">Person-ID:</label>
            <input type="text" id="p_name" name="p_name" value="<%= rent.p_name %>">
            <br>
            <input type="submit" value="Update">
    </form>
    <a href="/renting">Back to List</a>
</body>
</html>