<!-- update1.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Update Room</title>
</head>
<body>
    <link rel="stylesheet" href="../public/css/style.css">
    <h1>Update Room</h1>
    <form method="post" action="/update1/<%= room.id %>">
            <label for="name">Room:</label>
            <input type="text" id="name" name="name" value="<%= room.name %>">
            <br>
            <input type="submit" value="Update">
    </form>
    <a href="/rooms">Back to List</a>
</body>
</html>